<ion-header>
  <ion-toolbar>
    <ion-title>Recursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
      <ion-item>
        <ion-label stacked>Nombre:</ion-label>
        <ion-input  type="text" placeholder="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>tipo:</ion-label>
        <ion-input type="text" placeholder="tipo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Descripcion:</ion-label>
        <ion-input  type="text" placeholder="descripcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Cantidad:</ion-label>
        <ion-input  type="text" placeholder="cantidad"></ion-input>
      </ion-item>
    <div padding>
      <button ion-button block type="submit">Guardar</button>
    </div>
  
</ion-content>
