<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Registro</ion-title>
    <ion-button slot="start">
      <ion-menu-button color="primary"
                       menu="primerMenu"
      > </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ">
  <form [formGroup]="myForm" (ngSubmit)="onSubmitRegistro()" novalidate>
    <ion-item>
      <ion-label position="floating"> Nombre <span class="text-danger">*</span></ion-label>
      <ion-input formControlName="Nombre" type="text" placeholder="" [(ngModel)]="Nombre"></ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('Nombre').errors && myForm.get('Nombre').dirty">
      <ion-label position="stacked">
        <p color="danger" ion-text *ngIf="myForm.get('Nombre').hasError('required')">Ingrese nombre</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Apellido <span class="text-danger">*</span></ion-label>
      <ion-input formControlName="Apellido" type="text" placeholder="" [(ngModel)]="Apellido"></ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('Apellido').errors && myForm.get('Apellido').dirty">
      <ion-label position="stacked">
        <p color="danger" ion-text *ngIf="myForm.get('Apellido').hasError('required')">Ingrese Apellido</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Correo <span class="text-danger">*</span></ion-label>
      <ion-input formControlName="email" type="text" placeholder="" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
      <ion-label position="stacked">
        <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Ingrese email</p>
      </ion-label>
      <ion-label position="stacked">
        <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">Ingrese email valido</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Password <span class="text-danger">*</span></ion-label>
      <ion-input formControlName="password" type="Password" placeholder="" name="password" [(ngModel)]="password">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
      <ion-label position="stacked">
        <p color="danger" ion-text *ngIf="myForm.get('password').hasError('required')">Ingrese contraseña</p>
      </ion-label>
      <ion-label position="stacked">
        <p color="danger" ion-text *ngIf="myForm.get('password').hasError('minLength')">Mínimo 6 caracteres</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Confirmar contraseña <span class="text-danger">*</span></ion-label>
      <ion-input formControlName="Cpassword" type="Password" placeholder="" name="Cpassword" [(ngModel)]="Cpassword">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="myForm.get('Cpassword').errors && myForm.get('Cpassword').dirty">
      <ion-label position="stacked">
        <p color="danger" ion-text *ngIf="myForm.get('Cpassword').hasError('required')">Confirme contraseña</p>
      </ion-label>
    </ion-item>
    <div id="container">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="solid" shape="round" expand="block" type="submit" [disabled]="!myForm.valid">Registrarse</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="solid" shape="round" expand="block"  href="login">Tengo Cuenta</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>

</ion-content>