<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding " >
 
  <form autocomplete="off">
    <ion-item>
      <ion-label position="stacked" > Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true" maxlength="30" minlength="6"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" > Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required="true"maxlength="30"minlength="6"></ion-input>
      
    </ion-item>
    <div class="ion-text-center ion-margin-top">
      <a routerLink=""><small>Cambiar Contraseña</small></a>
    </div>
    <p>
    <div id="container">
      <ion-row>
        <ion-col class="ion-text-center"> 
          <ion-button fill="solid" shape="round" expand="block" (click)="onSubmitLogin()" type="submit">Entrar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center"> <ion-button fill="solid" shape="round" expand="block" href="registro">Registrarse</ion-button>
        </ion-col>
      </ion-row>
  </div>
  </form>
  <div class="ion-text-center ion-margin-top">
    <a routerLink=""><small>Recuperar Contraseña</small></a>
  </div>
</ion-content>