<ion-header>
  <ion-toolbar>
    <ion-title>Crear Recursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label stacked>Nombre:</ion-label>
    <ion-input [(ngModel)]="recurso.nombre" type="text" placeholder="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>tipo:</ion-label>
    <ion-input [(ngModel)]="recurso.tipo" type="text" placeholder="tipo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Cantidad:</ion-label>
    <ion-input [(ngModel)]="recurso.cantidad" type="text" placeholder="cantidad"></ion-input>
  </ion-item>
<div padding>
  <ion-button (click)="fCantidad()"  type="submit">Guardar</ion-button>
  <ion-button (click)="fCantidad()" type="submit">ver</ion-button>
</div>
</ion-content>
