<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Punto Limpio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Punto LImpio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">   
    <ion-img class="icon" src="assets/img/arbol.jpg" ></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col> <ion-button class="primario" href="login">Iniciar sesión</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col> <ion-button class="secundario" href="registro">Registrarse</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>    
  </div>
</ion-content>
